{% extends "base.html" %}

{% block title %}Login | {% endblock %}

{% block content %}
  <div class="row">
    <form id="login" class="form-vertical span4" action="" method="post">
      {{ form.non_field_errors }}

      {{ form.username.errors }}
      {{ form.username.label_tag }}
      {{ form.username }}

      {{ form.password.errors }}
      {{ form.password.label_tag }}
      {{ form.password }}

      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}
      {% csrf_token %}

      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
{% endblock %}
